<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChalkSlate</title>
</head>
<body>

<center> <h1>Welcome to about page</h1></center>
<a href="/chalkslate/home"><h2>HOME</h2></a>
<a href="/chalkslate/home/notice-board"><h2>NOTICE BOARD</h2></a>
<a href="/chalkslate/home/signin"><h2>SIGN IN</h2></a>
<a href="/chalkslate/home/contact-us"><h2>CONTACT US</h2></a>
<a href="/chalkslate/home/register"><h2>REGISTER</h2></a>
<a href="/chalkslate/home/guide"><h2>GUIDE</h2></a>
<a href="/chalkslate/home/about-us"><h2>ABOUT US</h2></a>
</body>
</html>